.project-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  letter-spacing: 0.05em;  /* Adds spacing between letters */
  font-size: 2rem;
  margin-left: 5.2in;
  margin-top: 1in;
  color: whitesmoke;
     /* Added the missing colon */
}
.sub-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
               "Helvetica Neue", Arial, sans-serif;
  margin-left: 5.2in;
  margin-top: 5px;
  letter-spacing: 0.05em;  /* Adds spacing between letters */
  font-size: 1.5rem;
  color: #cbd5e1;
     /* Added the missing colon */
}
.project-card-container {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap; /* Allows wrapping */
  gap: 2px; /* Reduced gap between cards */
  margin-left: 5in;
  justify-content: center; /* Centers the items */
  width: calc(50% - 10px); /* Ensures 2 cards per row */
  min-width: 300px; /* Prevents them from becoming too small */
}

